body {
    background-color:#827717;
    margin: 1em;
}
h1{
  margin:0;
}
main {
  color: white;
  font: bold 2rem Helvetica;
  padding: 1em;
  display: grid;
  gap:1em;
  text-align: center;
}
main .game-ui{
  display: flex;
  flex-direction: column;
  background:blueviolet;
  width: auto;
  display: grid;
  padding: .5em;
  border-radius: .5em;
  gap: 0.5em
}
section#btns{
  padding:.5em;
  width: auto;
  display: grid;
  grid-column-gap:1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
#start-Button{
  background-color:indigo;
  color: white;
  width: 10em;
  margin: auto;
  padding: 1em 0.5em;
  border-block-color:#6476bd;
  border-radius: 0.3em;
  cursor: pointer;
}

#rock, #paper, #scissors {
  border-radius: 0.4rem;
  border:1px solid black;
  font-size: 12rem;
  padding: 0.1em;
  cursor: pointer;
  align-items:center;
} 

footer{
  text-align: center;
  color: white;
  font: bold 1.5rem Comic-Sans;
}

